$pale-blue: hsl(225, 100%, 94%);
$bright-blue: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$color-hover: #766CF1;

* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  height: 900px;
  width: 1440px;
  margin: auto;
  background-color: $pale-blue;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  border-radius: 3px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 697px;
  width: 450px;
  margin: auto;
  padding-right: 48px;
  padding-left: 48px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
}

.hero-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 354px;
}

.hero {
  margin-top: 45px;
  margin-bottom: 17px;

  font: {
    size: 28px;
    weight: 900;
  }
}

.hero-text {
  //max-width: 354px;
  margin-top: 0;
  color: $desaturated-blue;
  text-align: center;
  font-weight: 500px;
  line-height: 26px;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 98px;
  width: 354px;
  margin-top: 8px;
  padding: 24px;
  background-color: $very-pale-blue;
  border-radius: 11px;
}

.annual-wrapper {
  width: 150px;
}

.annual-plan {
  margin: 6px 0;
  color: $dark-blue;
  font-weight: 900;
}

.annual-amount {
  margin: 0;
  color: $desaturated-blue;
  font-weight: 500;
}

.annual-change-plan {
  color: $bright-blue;
  font-size: 14px;
  font-weight: 700px;
}

.annual-change-plan a:hover {
  color: $color-hover;
}

.btn {
  width: 354px;
  margin: 0;
  margin-top: 32px;
  padding: 13px;
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  background-color: $bright-blue;
  border-radius: 11px;
  border: 2px transparent solid;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 0.190291);
}

.btn:hover {
  cursor: pointer;
  background-color: $color-hover;
}

.cancel {
  margin-top: 32px;
  color: $desaturated-blue;

  font: {
    size: 15px;
    weight: 900;
  }
}

.cancel:hover {
  cursor: pointer;
}


// MEDIA QUERIES

@media screen and (max-width: 465px) {
  .container {
    width: 375px;
  }

  .card,
  .plan,
  .btn {
    max-width: 327px;
    border: 2px solid red;
  }

  .hero-img {
    max-width: 328px;
  }

  .hero {
    font-size: 22px;
  }

  .hero-text {
    padding: 0;
    font-size: 15px;
  }

  .annual-plan,
  .annual-amount {
    font-size: 14px;
  }
}